body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* estilo para la seccion main dentro del body */
body main {
    width: 800px; 
    height: auto; 
    border: solid #b3b3bb 1.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* estilos para la lista desordenada */
body main #unordered-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* estilos para cada item de la lista desordenada*/
body main #unordered-list li{
    width: 100px;
    padding: 5.5px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
    border: solid #b3b3bb 1.5px;
    border-radius: 15px;
}


body main .container img{
    
    width: 100%;
    height: 500px;
}